@charset "utf -8";

html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

html,
body {
  /* height: 100%; */
  font-size: 16px;
  font-family: "微软雅黑";
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

b,
strong {
  font-weight: normal;
}

i,
em {
  font-style: normal;
}

i {
  color: #f89a28;
}

em {
  color: #53cac3;
}

a,
u {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  /* display: block; */
}

input {
  border: 0;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 清除浮动 */
.clear-float::after {
  display: block;
  content: ".";
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.clear-float {
  zoom: 1;
}
.container {
  width: 1206px;
  margin-left: auto;
  margin-right: auto;
}

body{
  background:url(../images/xiaomi.jpg);
}
/* logo */
.logo {
  display: block;
  float: left;
  width: 54px;
  height: 54px;
  margin-top: 21px;
  background: #ff6700 url(../images/milogo.png) center center no-repeat;
  margin-right: 25px;
}

.header {
  height: 100px;
}
.header h2 {
  font-size: 30px;
  float: left;
  margin-top: 25px;
}

.header a{
  float: right;
  margin: 25px 20px 0px 0px;
  color: #333;
}
.header a:hover{
  font-size: 19px;
  font-weight: 600;
}


/* 登录 */
.login {
  height: 588px;
  background: url(../images/xiaomi.jpg) no-repeat -500px center;
}

.login form {
  box-sizing: border-box;
  float: right;
  width: 410px;
  height: 560px;
  background: #fff;
  padding: 30px;
  margin-top: 20px;
}

.login form h2 {
  font-size: 24px;
  color: #f56600;
  text-align: center;
}

.login form input {
  width: 306px;
  height: 22px;
  line-height: 22px;
  padding: 13px 16px 13px 14px;
  display: block;
  border: 1px solid #e6e1e1;
}

.login form .btn {
  box-sizing: content-box;
  width: 306px;
  height: 22px;
  display: block;
  color: #fff;
  background: #f56600;
}
.login form a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #666;
}

span {
  display: block;
  height: 18px;
  line-height: 18px;
  /* background: beige; */
  font-size: 13px;
  color: red;
  margin: 10px 0px;
  padding-left: 20px;
}
